body {
  background-color: #fef9f4;
  font-family: 'Arial', sans-serif;
  color: #333;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
}

h1.accent {
  color: #7b4b94;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

button {
  background-color: #7b4b94;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #603b7a;
}
